/*barvy cool gray #817E9F 
dark purple #291528 
black olive #3A3E3B 
ash grey #CADBC8 
blue gray #7192BE*/

body {font-family: "Quicksand", serif;
    font-size: 18px;
    padding:0;
    margin:0;
    color:#3A3E3B;}

h1, h2 {color: #471b44;
        font-family:"EB Garamond", serif;
        text-align:center;}

h1 {font-size: 60px;}
h2 {font-size: 28px;}

img {border-radius: 10px; width: 15%; overflow: auto;}

.hlavicka {text-align: center;
            padding: 35px;
            background-image: url(foto/pozadi.png); 
            background-repeat: no-repeat; 
            background-size: cover;}
.hlavicka h2 {font-size:46px;
            font-style:italic;}

.osobni-udaje, .prace, .ostatni {background-color: #ecebeb;}
.vzdelani, .jazyky, .zajmy {background-color: #d9d9d9;}

.osobni-udaje td, .vzdelani td, .prace td, .vzdelani th, .prace th {padding: 5px 25px;}
.vzdelani table, .prace table, .osobni-udaje table {margin: 20px;}

.prace th, .vzdelani th {text-align:left;}

.jazyky ul, .ostatni ul, .zajmy ul 
            {list-style-type: none;
            padding-left:0;
            text-align: center;}

.paticka {background-color:#291528; 
        color: white;
        text-align: center;
        padding: 5px;
        font-size:16px;}

.osobni-udaje, .vzdelani, .prace, .jazyky, .ostatni, .zajmy {padding: 10px 20%;}

